.img-circle {
    border-radius: 50%;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.container-fluid {
    padding: 0 15px;
}

.panel {
    background-color: white;
    height: 100%;
    margin-bottom: 20px;
}

.panel-header {
    padding: 20px 25px;
}

.panel-title {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.panel-body {
    padding: 10px 25px;
}

.ibox {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 2px;
    padding: 6px 15px 5px;
    min-height: 20px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: bold;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    clear: both;
}

.metric {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid #DCE6EB;
}

.metric .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center;
}

.metric .icon i {
    font-size: 18px;
    color: #fff;
}

.metric p {
    line-height: 1.2;
    text-align: right;
    margin: 0;
}

.metric .number {
    display: block;
    font-size: 28px;
    font-weight: 300;
}

.metric .title {
    font-size: 16px;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 20px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.width100 {
    width: 90%;
}

.mytable {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.mytable th, .mytable td {
    padding: 6px 5px;
    border: 1px solid #fff;
}

.mytable td {
    word-break: break-all;
    vertical-align: middle;
}

.mytable td img {
    vertical-align: middle;
}

.mytable td .ui-pg-input {
    vertical-align: middle;
    padding: 2px 8px;
}

.mytable th {
    background: #56A2B9;
    color: #fff;
}

.mytable tr {
    background: #f8fbfc;
}

.mytable tr:nth-child(even) {
    background: #f8fbfc;
}

.mytable tr:nth-child(odd) {
    background: #e5f1f4;
}

.mytable tr:hover {
    background: #ecfbd4;
}

.mytable tr.sel {
    background: #ade4ad;
}

.mytable td.tr_td {
    cursor: default;
}

.mysql {
  background-image: url(../img/MySQL.png);
  background-size: cover;
}

.clickhouse {
  background-image: url(../img/Clickhouse_logo.png);
  background-size: cover;
}

.elasticsearch {
  background-image: url(../img/elasticsearch-logo.png);
  background-size: cover;
}

.mongodb {
  /*background: linear-gradient(to right bottom, rgba(121, 57, 57, 0.9),rgba(0,0,0,0)),url(../img/MongoDB.png) no-repeat center;*/
  background-image: url(../img/MongoDB.png);
  background-size: cover;
}

.redis {
  background-image: url(../img/Redis_logo.png);
  background-size: cover;
}

.http {
  /*background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);*/
  background-blend-mode: screen;
  background-size: cover;
}
